@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
@import url("http://fonts.googleapis.com/css?family=Lato:700");
html, body {
  min-width: 1360px;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro"; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

a {
  color: inherit;
  text-decoration: none; }

::selection, ::-moz-selection {
  background: rgba(0, 0, 0, 0.9);
  color: #FFF; }

.c2, .c3 {
  font-weight: 600; }

header {
  background: url(../img/header.jpg) no-repeat center;
  background-size: cover;
  overflow: auto; }
  header .header-content {
    padding-top: 48px; }
    header .header-content h1 {
      color: #FFF;
      font-family: "Pacifico";
      font-size: 72px;
      text-align: center;
      text-shadow: 2px 2px 8px #000; }
      header .header-content h1 em {
        font-family: "Source Sans Pro";
        font-size: 48px;
        font-style: normal;
        font-weight: 200;
        text-shadow: 2px 2px 4px #000;
        text-transform: lowercase; }
    header .header-content h2 {
      color: #FFF;
      font-weight: 200;
      margin-top: -4px;
      text-align: center;
      text-shadow: 2px 2px 4px #000; }
      header .header-content h2 a {
        border-bottom: 1px dotted #FFF; }
        header .header-content h2 a:hover {
          border-bottom: 1px solid #FFF; }
    header .header-content h3 {
      font-size: 14px;
      font-weight: 200;
      width: 480px;
      margin: 80px auto 0;
      text-align: center;
      text-shadow: 2px 2px 8px #000; }
      header .header-content h3 .name {
        font-weight: 600;
        text-transform: uppercase; }
        header .header-content h3 .name a:hover {
          opacity: 0.7; }

.intro {
  background: white; }
  .intro .intro-content {
    width: 960px;
    margin: 0 auto;
    padding: 80px 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    color: #554;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6em; }
  .intro p {
    margin-top: 0; }

nav {
  position: absolute;
  width: 180px;
  padding: 40px 0 0 40px; }
  nav.stuck {
    position: fixed;
    top: 200px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    margin: 12px 0; }
  nav a {
    font-weight: 900;
    text-transform: uppercase; }
    nav a:hover {
      opacity: 0.7; }
    nav a.active {
      opacity: 0.7; }
  nav .link-commencement {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 16px 12px;
    border: 1px solid #FFF; }
    nav .link-commencement:hover {
      opacity: 0.7; }
    nav .link-commencement .one {
      display: block;
      font-family: "Big Caslon", "Georgia";
      font-size: 15px;
      font-style: italic;
      font-weight: 200;
      text-transform: none; }
    nav .link-commencement .two {
      display: block;
      font-family: "Lato";
      letter-spacing: 1px;
      padding-top: 4px;
      font-size: 12px;
      font-weight: 700; }

footer {
  background: url(../img/footer.jpg) no-repeat center;
  background-size: cover;
  overflow: auto; }
  footer .footer-content {
    color: white;
    text-align: center; }
    footer .footer-content h1 {
      font-family: "Pacifico";
      font-size: 84px;
      text-shadow: 2px 2px 16px black; }
    footer .footer-content .footer-blurb {
      margin-top: -24px;
      font-size: 18px;
      font-weight: 200;
      text-shadow: 2px 2px 2px black; }
      footer .footer-content .footer-blurb a {
        border-bottom: 1px dotted white; }
        footer .footer-content .footer-blurb a:hover {
          border-bottom: 1px solid white; }

section {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 40px 0; }
  section .section-intro {
    position: absolute;
    margin-left: 280px;
    width: 420px; }
    section .section-intro .intro-title {
      margin: 8px 0 20px;
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase; }
    section .section-intro .intro-content {
      font-weight: 200; }
      section .section-intro .intro-content a {
        border-bottom: 1px dotted #FFF; }
        section .section-intro .intro-content a:hover {
          border-bottom: 1px solid #FFF; }
  section .section-viz {
    margin-left: 780px;
    width: 600px; }

section.current {
  opacity: 1; }

body {
  background: white;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.section-1, #section-1 {
  background: #dd0022;
  color: white; }

.section-2 {
  background: #4444aa;
  color: white; }

.section-3 {
  background: #ddaa00;
  color: black; }
  .section-3 .intro-content a {
    border-bottom: 1px dotted #000 !important; }
    .section-3 .intro-content a:hover {
      border-bottom: 1px solid #000 !important; }
  .section-3 .link-commencement {
    border: 1px solid #000 !important; }

.section-4 {
  background: #de4b00;
  color: white; }

.section-5 {
  background: #6633aa;
  color: white; }

.section-6 {
  background: #117755;
  color: white; }

.section-7 {
  background: #555555;
  color: white; }

.section-viz {
  min-height: 800px; }

.component {
  padding-bottom: 24px; }
  .component + .component {
    padding: 24px 0;
    border-top: 1px dotted rgba(255, 255, 255, 0.3); }

#section-3 .component + .component, #section-6 .component + .component {
  border-top: 1px dotted rgba(0, 0, 0, 0.8); }

.numbers .numbers-title {
  font-style: italic;
  margin-bottom: 12px; }
.numbers .numbers-num {
  font-size: 48px;
  font-weight: 900; }
.numbers .numbers-desc {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600; }
.numbers .numbers-desc + .numbers-num {
  margin-top: 12px; }

.graph .graph-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; }
.graph .graph-graph {
  margin: 20px 0 12px -10px; }
  .graph .graph-graph.todo {
    margin: 12px 0;
    padding: 20px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5); }
.graph .graph-graph.hasbg {
  margin: 20px 0 12px 0; }
