@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
@import url("http://fonts.googleapis.com/css?family=Lato:700");

// VARIABLES

$white: #fff;
$black: #000;
$pure-black: #000;

$red: #dd0022;
$blue: #4444AA;
$yellow: #ddaa00;
$green: #117755;
$violet: #6633aa;
$orange: #de4b00;
$gray: #555555;

$nav-width: 180px;
$intro-width: 420px;
$viz-width: 600px;

// RESETS

html, body {
  min-width: 1360px; // Fuck the police
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection, ::-moz-selection {
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
}

// OUTER LAYOUT

header {
  background: url(../img/header.jpg) no-repeat center;
  background-size: cover;
  overflow: auto;

  .header-content {
    padding-top: 48px;
    h1 {
      color: #FFF;
      font-family: "Pacifico";
      font-size: 72px;
      text-align: center;
      text-shadow: 2px 2px 8px #000;

      em {
        font-family: "Source Sans Pro";
        font-size: 48px;
        font-style: normal;
        font-weight: 200;
        text-shadow: 2px 2px 4px #000;
        text-transform: lowercase;
      }
    }

    h2 {
      color: #FFF;
      font-weight: 200;
      margin-top: -4px;
      text-align: center;
      text-shadow: 2px 2px 4px #000;

      a {
        border-bottom: 1px dotted #FFF;

        &:hover {
          border-bottom: 1px solid #FFF;
        }
      }
    }

    h3 {
      font-size: 14px;
      font-weight: 200;
      width: 480px;
      margin: 80px auto 0;
      text-align: center;
      text-shadow: 2px 2px 8px #000;

      .name {
        font-weight: 600;
        text-transform: uppercase;

        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.intro {
  background: $white;

  .intro-content {
    width: 960px;
    margin: 0 auto;
    padding: 80px 0;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;

    color: #554;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6em;
  }

  p {
    margin-top: 0;
  }
}

nav {
  position: absolute;
  width: $nav-width;

  padding: 40px 0 0 40px;

  &.stuck {
    position: fixed;
    top: 200px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 12px 0;
  }

  a {
    font-weight: 900;
    text-transform: uppercase;

    &:hover {
      opacity: 0.7;
    }

    &.active {
      opacity: 0.7;
    }
  }

  .link-commencement {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 16px 12px;
    border: 1px solid #FFF;

    &:hover {
      opacity: 0.7;
    }

    .one {
      display: block;
      font-family: "Big Caslon", "Georgia";
      font-size: 15px;
      font-style: italic;
      font-weight: 200;
      text-transform: none;
    }

    .two {
      display: block;
      font-family: "Lato";
      letter-spacing: 1px;
      padding-top: 4px;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

footer {
  background: url(../img/footer.jpg) no-repeat center;
  background-size: cover;
  overflow: auto;

  .footer-content {
    color: $white;
    text-align: center;

    h1 {
      font-family: "Pacifico";
      font-size: 84px;
      text-shadow: 2px 2px 16px $pure-black;
    }

    .footer-blurb {
      margin-top: -24px;
      font-size: 18px;
      font-weight: 200;
      text-shadow: 2px 2px 2px $pure-black;

      a {
        border-bottom: 1px dotted $white;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}

// "INNER" LAYOUT

section {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;

  padding: 40px 0;

  .section-intro {
    position: absolute;
    margin-left: 40px + $nav-width + 60px;
    width: $intro-width;

    .intro-title {
      margin: 8px 0 20px;
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
    }

    .intro-content {
      font-weight: 200;
      font-size: 18px;

      a {
        border-bottom: 1px dotted #FFF;
        &:hover {
          border-bottom: 1px solid #FFF;
        }
      }
    }

  }
  .section-viz {
    margin-left: 40px + $nav-width + 60px + $intro-width + 80px;
    width: $viz-width;
  }
}

section.current {
  opacity: 1;
}

body {
  background: $white;
  color: $white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

// Maybe, I dunno
.section-1, #section-1 {
  background: $red;
  color: $white;
}
.section-2 {
  background: $blue;
  color: $white;
}
.section-3 {
  background: $yellow;
  color: $black;

  .intro-content {
    a {
      border-bottom: 1px dotted #000 !important;
      &:hover {
        border-bottom: 1px solid #000 !important;
      }
    }
  }

  .link-commencement {
    border: 1px solid #000 !important;
  }

}
.section-4 {
  background: $orange;
  color: $white;
}
.section-5 {
  background: $violet;
  color: $white;
}
.section-6 {
  background: $green;
  color: $white;
}
.section-7 {
  background: $gray;
  color: $white;
}

// VISUALS

.section-viz {
  min-height: 800px; // GET RID OF THIS LOL
}

.component {
  padding-bottom: 24px;

  + .component {
    padding: 24px 0;
    border-top: 1px dotted rgba(255, 255, 255, 0.3);
  }
}

// HACK ~ Whatever.
#section-3, #section-6 {
  .component + .component {
    border-top: 1px dotted rgba(0, 0, 0, 0.8);
  }
}

.numbers {
  .numbers-title {
    font-style: italic;
    margin-bottom: 12px;
  }

  .numbers-num {
    font-size: 48px;
    font-weight: 900;
  }

  .numbers-desc {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .numbers-desc + .numbers-num {
    margin-top: 12px;
  }
}

.graph {
  .graph-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .graph-graph {
    margin: 20px 0 12px -10px;

    &.todo {
      margin: 12px 0;
      padding: 20px;
      height: 200px;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  .graph-graph.hasbg {
    margin: 20px 0 12px 0;
  }
}